@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: rgb(20, 20, 20);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#ava{
    border-radius: 31242343256742px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    display: block;
}

#name{
    text-align: center;
}

#vk{
    background-color: #0452aa;
    border: none;
    color: #FFFFFF;
    padding: 15px 24px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
}

#vk:hover{
    scale: 1.1;
}

#steam{
    background-color: #1504aa;
    border: none;
    color: #FFFFFF;
    padding: 15px 24px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
}

#steam:hover{
    scale: 1.1;
}

#yt{
    background-color: #aa0404;
    border: none;
    color: #FFFFFF;
    padding: 15px 24px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
}

#yt:hover{
    scale: 1.1;
}

#links{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: block;
}

#xmrec{
    background: rgb(161,37,255);
    background: linear-gradient(135deg, rgba(161,37,255,1) 0%, rgba(3,0,73,1) 100%);
    border: none;
    color: #FFFFFF;
    padding: 15px 24px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
}

#easter{
    background-color: rgb(20, 20, 20);
    border: none;
    color: #FFFFFF;
    padding: 15px 24px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
}

#about{
    background-color: black;
    width: 100%;
    height: 225px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

#credits{
    text-align: center;
    justify-content: center;
    margin-left: 45px;
    /* if in footer games we need to this row - width: 25%; */
}

#content{
    min-height:100%;
}

#hide{
    background-color: #1f1f1f;
    border: none;
    color: #FFFFFF;
    padding: 15px 17px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
    position: absolute;
    bottom: 45;
    left: 50;
    
}

#hide:hover{
    scale: 1.04;
}